<a href="https://colab.research.google.com/github/1961928/dgoh123.github.io/blob/main/Final_Project_Data_Science_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install fredapi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fredapi
  Downloading fredapi-0.5.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (from fredapi) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas->fredapi) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas->fredapi) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.0

Importing fredapi to pull in data from FRED

In [ ]:
import fredapi
from fredapi import Fred

Getting the FRED api key and getting the dataset I want using get_series. I repeat this for each of the datasets I want to extract from FRED.

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
cpi = fred.get_series('CPIAUCSL')


cpi.name = "cpi"

cpi.head()

1947-01-01    21.48
1947-02-01    21.62
1947-03-01    22.00
1947-04-01    22.00
1947-05-01    21.95
Name: cpi, dtype: float64

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
price_index = fred.get_series('USSTHPI')
price_index.name = "price_index"

price_index

1975-01-01     60.04
1975-04-01     60.99
1975-07-01     61.17
1975-10-01     62.24
1976-01-01     62.87
               ...
2021-07-01    539.48
2021-10-01    558.11
2022-01-01    578.70
2022-04-01    618.37
2022-07-01    628.88
Name: price_index, Length: 191, dtype: float64

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
gdp = fred.get_series('GDP')
gdp.name = "gdp"

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
real_income = fred.get_series('MEHOINUSA672N')
real_income.name = "real_income"

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
vac_rate = fred.get_series('RRVRUSQ156N')
vac_rate.name = "vac_rate"

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
house_supply = fred.get_series('MSACSR')
house_supply.name = "house_supply"

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
employment = fred.get_series('LNU02000000')
employment.name = "employment"

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
cons_sent = fred.get_series('UMCSENT')
cons_sent.name = "cons_sent"

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
mortgage_rate = fred.get_series('MORTGAGE30US')
mortgage_rate.name = "mortgage_rate"

Converting the data extracted from FRED to a csv file using to_csv. These csv files will be used for the machine learning model.

In [ ]:
cpi.to_csv('CPI.csv')
gdp.to_csv('GDP.csv')
real_income.to_csv('real_income.csv')
vac_rate.to_csv('rent_vac.csv')
house_supply.to_csv('house_supply.csv')
employment.to_csv('employment.csv')
cons_sent.to_csv('cons_conf.csv')
mortgage_rate.to_csv('mortgage_rate.csv')

import pandas to help me work with csv files in python

In [ ]:
import pandas as pd


Using pd.merge to merge the cpi data and price_index data. This data frame will be used to create the scatter plot and line graphs.

In [ ]:
df = pd.merge(cpi, price_index, left_index=True, right_index=True)

In [ ]:
df

                cpi  price_index
1975-01-01   52.300        60.04
1975-04-01   53.000        60.99
1975-07-01   54.000        61.17
1975-10-01   54.900        62.24
1976-01-01   55.800        62.87
...             ...          ...
2021-07-01  272.184       539.48
2021-10-01  276.590       558.11
2022-01-01  281.933       578.70
2022-04-01  288.663       618.37
2022-07-01  295.271       628.88

[191 rows x 2 columns]

Converting the merged cpi and price_index data frame to a csv file.

In [ ]:
df.to_csv('cpi&price_index1.csv')

In [ ]:
fred = Fred(api_key="60cd01a64abae81138d031f854c6bdaa")
lst = ['CPI', 'GDP', 'USSTHPI']

for i in lst:
  i = fred.get_series(lst)
  i.name = i
  i.to_csv(i)